@import '../fonts/fonts.scss';

.app{
    height: 100vh;
    font-family: 'G Display Extended', sans-serif;
    
    /* unvisited link */
    a:link {
        color: red;
    }
  
    /* visited link */
    a:visited {
        color: black;
    }
    
    /* mouse over link */
    a:hover {
        color: yellow;
    }
    
    /* selected link */
    a:active {
        color: blue;
    }
    
    .sections{
        width: 100%;
        height: calc(100vh - 200px);
        background-color: #F3F0DF; 
        position: relative;
        // top: 20px;
        scrollbar-width: none;

        > *{
            width: calc(100vw/3);
            height: calc(100vh - 200px);
            float: left;
        }
        
        h2 {
            font-size: 24px;

        }
        
        h3 {
            font-size: 18px;
            text-transform: uppercase;
        }
        
        h4 {
            font-size: 18px;
        }

        p {
            font-family: 'Space Mono', monospace;
            font-size: 18px;
            text-transform: none;
        }
    }

    .sectionhead {
        
        h2 {
        font-family: 'G Display Extended';
        font-size: 26px;
        }

        color: #EFECDB;
        background-color: black;
        padding: 10px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }

    .rules-block {
        border-bottom: 2px solid black;

        h3 {
            font-size: 22px;
            text-transform: none;
        }

        h4 {
            font-family: 'G Display';
            font-size: 18px;
            text-transform: uppercase;
        }

    }
}