@font-face {
    font-family: 'G Display';
    src: url('GDisplay-Regular.woff2') format('woff2'),
        url('GDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'G Display Extended';
    src: url('GDisplay-Extended.woff2') format('woff2'),
        url('GDisplay-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'G Display Extended';
    src: url('GDisplay-Extended.woff2') format('woff2'),
        url('GDisplay-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'G Display';
    src: url('GDisplay-Regular.woff2') format('woff2'),
        url('GDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}